@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Italianno&display=swap');


body{
    background: rgb(0, 0, 0);
    /* background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%); */
    font-family: Inter;
    margin: 0px auto;
    max-width: 100%;
    /* border: 1px solid red; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}
.gradi{
    background: linear-gradient(180.00deg, rgb(0, 0, 0),rgba(40, 40, 40, 98) 100%);
}
header{
    /* border: 1px solid green; */
    padding-bottom: 77px;
    max-width: 80%;
    margin: 0px auto;   

}

/* text styles */
.text-14 {
    font-size: 0.9rem;
}
.text-14 {
    font-size: 0.9rem;
}
.text-16 {
    font-size: 1rem;
}
.text-18 {
    font-size: 1.16rem;
}
.text-24 {
    font-size: 1.5rem;
}
.text-28 {
    font-size: 1.75rem;
}
.text-36 {
    font-size: 2.25rem;
}
.text-40 {
    font-size: 2.5rem;
}
.text-48 {
    font-size: 3rem;
}
.text-78 {
    font-size: 4.875rem;
}
.text-70{
    font-size: 4.375rem;
}
.t-red{
    color: rgb(230, 83, 60);
}
.t-white{
    color: rgb(255, 255, 255);
}
.t-mid-white{
    color: rgba(255, 255, 255, 0.5);
}
.text-align{
    text-align: center;
}


/* flex styles */
.flex{
    display: flex;
}
.align-center{
    align-items: center;
}
.just-between{
    justify-content: space-between;
}
.just-around{
    justify-content: space-around;
}
.just-center{
    justify-content: center;
}
.just-evenly{
    justify-content: space-evenly;
}
.flex-col{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}
.flex-reverse{
    justify-content: end;
}
.align-last{
    align-items: flex-end;
}

/* header navbar */

nav > ul >li{
    list-style: none;
    padding: 8px 20px;
}
nav > ul > li > a{
    text-decoration: none;
    color: white;
}
.red-list{
    border-radius: 46px;
    background: rgb(230, 83, 60);
}
.hamburger{
    display: none;
}

/* banner */
#italy{
    font-family: "Italianno", cursive;
    font-size: 4.875rem;
}
.banner-rest{
    padding-left: 167px;
}
.banner-image{
    max-width: 100%;
    /* margin: 0px auto; */
}
,.banner-button-1 > img{
    max-width: 100%;
}
.button-primary{
    border-radius: 42px;
    border: none;
    background: rgb(230, 83, 60);
    padding: 16px 40px 16px 40px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.375rem;
    
}
.button-secondary{
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.375rem;
    /* opacity: 100; */

}
    .banner-button-1{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
}

.ban-red{
    background: rgb(230, 83, 60);
    width: 40px;
    height: 40px;
    border-radius: 100px;
}
#ban-btwn-1{
    position: absolute;
    /* width: 206px;
    height: 96px; */
    left: 800px;
    top: 600px;
    
}
#ban-btwn-2{

    position: absolute;
    left: 1000px;
    top: 360px;
    /* width: 193px; */
    
}
/* banner end */
/* main part */

main{
    /* max-width: 100%; */
    background-color: black;
    margin: 0px;
}
/* habit section */
 .change-habit{
    max-width: 80%;
    margin: 0px auto;
    padding: 100px 0px;
 }
 .habit-pic > img{
    border-radius: 100px;
 }
 .habit-all-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding-top: 54px;
 }
/* run an extra mile section */
.extra-mile{
    max-width: 80%;
    margin: 0px auto;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    gap: 145px;

}
.extra-mile-pic {
    max-width: 366px;
    max-height: 312px;
}
.extra-mile-pic > img{
    max-width: 100%;
    border-radius: 18px;
}
.extra-mile-content{
    padding: 41px 20px 41px 54px;
}
/* BMI text */
.bmi-t-section{
    max-width: 80%;
    margin: 0px auto;
    padding: 20px 0px;
}
/* BMI Calculator */
.bmi-calculator{
    max-width: 100%;
    margin: 0px auto;
    background: rgb(34, 34, 34); 
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 49px 189px 52px 189px;
}
td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 13px 70px 13px 18px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 400;
   
}
th{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 13px 70px 13px 18px;
    color: white;
    font-size: 0.875rem;
    font-weight: 400; 
    text-align: left; 
}
table{
    border-collapse: collapse;
}
#height , #weight , #age{
    padding: 8px 20px 8px 15px;
    /* max-width: 40%; */
    margin-top: 6px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    border: none;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.1);
}
.cal-1 , .cal-2{
    padding: 0px 20px 0px 15px;
    max-height: 34px;
    margin-top: 6px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    font-weight: 10;
    text-align: left;
    border: none;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.1);
}
.button-primary-2{
    border-radius: 42px;
    border: none;
    background: rgb(230, 83, 60);
    padding: 10px 40px 10px 40px;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 600;
    
}
.line{
    gap: 4px;
}
/* meet our team text */
/* Meet our team whole part */
.meet-team{
    max-width: 80%;
    margin: 88px auto;
    padding: 20px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);   
}
.meet-1st{
    border-radius: 18px;
    background: url(./images/trainer1.png);
    background-size: cover;
    max-width: 100%;
    height: 272px;
    position: relative;
}

.meet-2st{
    border-radius: 18px;
    background: url(./images/trainer2.png);
    background-size: cover;
    max-width: 100%;
    height: 272px;
    position: relative;
}
.meet-3st{
    border-radius: 18px;
    background: url(./images/trainer3.png);
    background-size: cover;
    max-width: 100%;
    height: 272px;
    position: relative;
}
.meet-4st{
    border-radius: 18px;
    background: url(./images/trainer4.png);
    background-size: cover;
    max-width: 100%;
    height: 272px;
    position: relative;
}
.meet-5st{
    border-radius: 18px;
    background: url(./images/trainer5.png);
    background-size: cover;
    max-width: 100%;
    height: 272px;
    position: relative;
}
.meet-6st{
    border-radius: 18px;
    background: url(./images/trainer6.png);
    background-size: cover;
    max-width: 100%;
    height: 272px;
    position: relative;
}
.journey{
    position: absolute;
    left: 5px;
    bottom: 5px;
}
.all-meet{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
/* footer section */
footer{
    max-width: 100%;
    margin: 0px auto;
    background: rgba(255, 255, 255, 0.1);
    
}
.foot-main{
    max-width: 80%;
    margin: 0px auto;
}
footer ul> li {
    list-style: none;
    padding-left: 0px;
}
footer ul> li > a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.44rem;
    text-align: start;
}
.foot-2st-col, .foot-3st-col, .foot-1st-col{
    display: flex;
    flex-direction: column;
    align-items: start
    justify-content: left;
}
.foot-1st-col > h1{
   line-height: 20px;
}
.foot-1st-col > p{
   line-height: 20px;
}
.foot-1st{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 102px;
}











@media screen and (max-width: 576px){

    body{
        max-width: 90%;
    }
    /* flex styles */
    .flex-s-col{
        flex-direction: column;
    }
    .flex-s-row{
        flex-direction: row;
    }
    /* Navbar */
    nav > ul >li{
       display: none;
    }
    .hamburger{
        display: contents;
    }
    /* banner */
    #ban-btwn-1{
    position: absolute;
    left: 32px;
    top: 1400.38px;
    }
    #ban-btwn-2{
    position: absolute;
    left: 250px;
    top: 1280px;
    }
    /* banner end */
    /* habit section */
    .habit-all-card{
    grid-template-columns: repeat(1, 1fr);
     }
     /* extra mile section */
     .extra-mile{
        gap: 15px;
    
    }
     .extra-mile-pic {
        max-width: 287px;
        max-height: 170px;
        padding-bottom: 40px;
        padding-left: 25px;
        padding-right: 25px;
    }
    /* BMI calculator */
    .bmi-calculator{
        grid-template-columns: repeat(1,1fr);
        padding: 0px;
    }
    /* meet our whole team part */
    .all-meet{
        grid-template-columns: repeat(1,1fr);
    }
    /* footer section */
    .foot-1st{
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
    }
}